<div class="panel panel-info">
    <div class="panel-heading">
        <h1><%= @post.title %></h1>
    </div>
    <div class="panel-body">
        <div>
            <b>Creado:</b> <%= @post.created_at.strftime('%F') %>
            <hr />
        </div>
        <p>
          <%= @post.content %>
        </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to 'Eliminar', @post, method: 'delete', class: 'btn btn-danger', data: { confirm: "¿Estás seguro?" } %>
      <%= link_to 'Volver', posts_path, class: 'btn btn-default' %>
    </div>
</div>
