<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog - Desafío LatAm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navbar' %>
  </header>
  <main class="container">
    <div class="row">
      <% if flash[:notice] %>
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </main>
</body>
</html>
